@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "JetBrains Mono", monospace;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95svh;
  background-color: black;
  > div {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
  }
}
header {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  padding-bottom: 15px;
}
main {
  form {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
