@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "JetBrains Mono", monospace;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95svh;
  background-color: black;
  > div {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
  }
}
header {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  padding-bottom: 15px;
  input {
    background: #f90000;
    border: none;
    &:focus {
      outline: none;
    }
  }
}
main {
  form {
    display: flex;
    justify-content: center;
    gap: 30px;
    input,
    select {
      padding: 6px 8px;
      border-radius: 6px;
      border: 1px solid black;
      &:focus {
        outline: none;
      }
    }
  }
}
